a img{border:none}
a{color:#900;text-decoration:none}
a:hover{color:#900;text-decoration:underline}
body{color:#111;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:90%;line-height:160%;margin:0}
