<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;' />
    <link media="screen and (min-width:600px)" href="/{{StaticFiles}}/styles/styles.css" rel="stylesheet" type="text/css" />
    <link media='handheld, screen and (max-width:600px), screen and (max-device-width:600px)' href='/{{StaticFiles}}/styles/styles_small.css' rel='stylesheet' type='text/css' />

    <title>{{PageTitle}}</title>

    <script type="text/javascript" src="/{{StaticFiles}}/scripts/script.js"></script>

    {{> HeaderContent}}
</head>
<body>
    <div id="ContentDiv">
        {{> BodyContent}}
    </div>
</body>
</html>
